.history-center {
  position: fixed;
  top: 70px;
  left: 110px;
  width: calc(100vw - 120px); 
  height: calc(100vh - 80px); 
  background-color: #000; 
  color: white;
  border-radius: 13px;
  padding: 30px;
  box-sizing: border-box;
  overflow-y: auto;
}

.history-content {
  background-color: #e01111;
  height: 339px;
  width: 601px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .history-center {
    margin-top: 70px; 
    left: 10px; 
    right: 10px; 
    height: 70%; 
    width: auto;
    max-height: calc(100vh - 140px); 
    overflow-y: auto;
  }
}